/*global*/

* {
        font-family:Arial, Helvetica, sans-serif;
        background:#D33E43;
        color:#f2f2f2;
}

body {
    display:flex;
    flex-direction:column;
    margin: 0;
}


h2 {
    display:block;
    font-size:52px;
    text-align:center;
    background:#ed464b;

}

section:nth-child(2) {
    margin-top:15%;
    display:flex;
    justify-content:center;
    align-content:center;
    width:100%;
    height:max-content;

}

section:nth-child(2) > div {
    display:flex;
    width:15%;
    flex-direction:column;
    justify-content:center;
    background:#ed464b;
    height:225px;
    padding:100px;
    border-radius:12px;
}

section:nth-child(2) > div > div {
    background:#ed464b;
    display:block;
    height:175px
}



section:nth-child(2) > div > button {
    font-size:32px;
    padding:20px 10px;
    background:#f2f2f2;
    color:#ed464b;
    border:0px;
    box-shadow:0px 5px 0px 0px #babec3;
    /*border-bottom:4px solid #babec3;*/
    transition-delay: .05s;
    border-radius:12px;
    


}

section:nth-child(2) > div > button:active {
    margin-top:1px;
    box-shadow:0px 0px 0px 0px #86888c;
    /*border-bottom:4px solid #ed464b;*/
    


}
